---
layout: page.njk
---

<h1>Projects</h1>
<ul class="projects-list">
  {%- for project in collections.project -%}
    <li>
      <article class="projects-list-item">
        <h3>
          <a href="{{ project.url }}">
            {{ project.data.title }}
          </a>
        </h3>
        <a href="{{ project.url }}">
          <img src="/assets/{{project.data.img}}" alt="{{project.alt}}">
        </a>
        <p>{{ project.data.description }}</p>
      </article>
    </li>
  {%- endfor -%}
</ul>
